body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo {
    width: 120px; /* Aumenta el tamaño del logo */
    margin-bottom: 20px;
    border-radius: 15%;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Resta un poco de espacio para el padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto; /* Centrar el input */
    display: block; /* Asegurar que el input sea un bloque */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000; /* Botón de envío negro */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000; /* Mismo color al pasar el ratón */
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #000000; /* Texto del enlace negro */
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}